#ignore exe
scrape

#ignore essential c# files
ScrapeLang/bin/*
ScrapeLang/obj/*
ScrapeLang/a.out
ScrapeLang/object.o
ScrapeRuntime/bin/*
ScrapeRuntime/obj/*

#ignore generated c++ file
ScrapeLang/ScrapeLang/generated.cpp